useDynLib("fanc")
import(Matrix)


export(fanc)
export(plot.fanc)
export(print.fanc)
export(select)
export(out)

importFrom("grDevices", "rgb")
importFrom("stats", "cov", "var")
importFrom("utils", "install.packages")

S3method("plot","fanc")
S3method("print","fanc")
